*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}

#hot-display-license-info {
  display: none;
}

.example {
  width: 1000px;
  height: 400px;
}